* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 59.28%;
    scroll-behavior: smooth;
}

body {    
    padding-top: 2rem;
}

.container {
    width: 114rem;
    margin: 0 auto;
}

.main{
    width: 100%;
    padding-left: 10%;

    .inner{
        width: 100%;
        height: 30rem;
        background-color: rgb(156, 76, 76);
    }


}
