@font-face {
    font-family: lugfaExtraLight;
    src: url(../fonts/Lufga-ExtraLight.otf) format("opentype");
}
@font-face {
    font-family: lugfaLight;
    src: url(../fonts/Lufga-Light.otf) format("opentype");
}
@font-face {
    font-family: lugfaThin;
    src: url(../fonts/Lufga-Thin.otf) format("opentype");
}
@font-face {
    font-family: lugfaRegular;
    src: url(../fonts/Lufga-Regular.otf) format("opentype");
}
@font-face {
    font-family: lugfaMedium;
    src: url(../fonts/Lufga-Medium.otf) format("opentype");
}
@font-face {
    font-family: lugfaSemiBold;
    src: url(../fonts/Lufga-SemiBold.otf) format("opentype");
}
@font-face {
    font-family: lugfaBlod;
    src: url(../fonts/Lufga-Bold.otf) format("opentype");
}
@font-face {
    font-family: lugfaExtraBold;
    src: url(../fonts/Lufga-ExtraBold.otf) format("opentype");
}
@font-face {
    font-family: lugfaBlack;
    src: url(../fonts/Lufga-Black.otf) format("opentype");
}
