#ourWork {
    margin-bottom: 5rem;

    p.heading {
        font-family: lugfaMedium;
        font-size: 2rem;
        color: $brandColor;
        margin-bottom: 1.2rem;
        text-align: right;

    }

    h2 {
        text-align: right;
        color: rgba(32, 32, 32, 1);
        font-size: 4rem;
        font-family: lugfaBlod;
        margin-bottom: 6rem;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .singleItem {
            margin-bottom: 5rem;
            width: 31.5%;
            cursor: pointer;

            .image {
                width: 100%;
                height: 24rem;
                overflow: hidden;
                border-radius: .8rem;
                -webkit-border-radius: .8rem;
                -moz-border-radius: .8rem;
                -ms-border-radius: .8rem;
                -o-border-radius: .8rem;
                margin-bottom: 2.4rem;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);

                }
            }

            p {
                margin-bottom: 0.8rem;
                color: $brandColor;
                font-size: 1.6rem;
                font-family: lugfaBlod;
            }

            h3 {
                font-size: 2.4rem;
                font-family: lugfaSemibold;
                color: rgba(18, 18, 18, 0.9);
            }


            &:hover {
                .image {
                    img {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }
            }
        }

    }

}