* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 59.28%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding-top: 2rem;
}

.container {
  width: 114rem;
  margin: 0 auto;
}

.main2 {
  width: 100%;
  padding-left: 10%;
}

.main2 .inner {
  width: 100%;
  height: 30rem;
  background-color: #9c4c4c;
}

@font-face {
  font-family: lugfaExtraLight;
  src: url(../fonts/Lufga-ExtraLight.otf) format("opentype");
}

@font-face {
  font-family: lugfaLight;
  src: url(../fonts/Lufga-Light.otf) format("opentype");
}

@font-face {
  font-family: lugfaThin;
  src: url(../fonts/Lufga-Thin.otf) format("opentype");
}

@font-face {
  font-family: lugfaRegular;
  src: url(../fonts/Lufga-Regular.otf) format("opentype");
}

@font-face {
  font-family: lugfaMedium;
  src: url(../fonts/Lufga-Medium.otf) format("opentype");
}

@font-face {
  font-family: lugfaSemiBold;
  src: url(../fonts/Lufga-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: lugfaBlod;
  src: url(../fonts/Lufga-Bold.otf) format("opentype");
}

@font-face {
  font-family: lugfaExtraBold;
  src: url(../fonts/Lufga-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: lugfaBlack;
  src: url(../fonts/Lufga-Black.otf) format("opentype");
}

@font-face {
  font-family: lugfaItalic;
  src: url(../fonts/Lufga-Italic.otf) format("opentype");
}

#topbar {
  margin-bottom: 5.5rem;
}

#topbar .wrapper {
  width: 100%;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .wrapper .logo a {
  text-decoration: none;
}

#topbar .wrapper .logo a span {
  color: #f6513b;
  font-size: 2rem;
  font-family: lugfaBlack;
}

#topbar .wrapper .mainMenu {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .wrapper .mainMenu .left {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .wrapper .mainMenu .left ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

#topbar .wrapper .mainMenu .left ul li a {
  text-decoration: none;
  color: rgba(18, 18, 18, 0.9);
  font-weight: 500;
  font-size: 1.6rem;
  font-family: lugfaMedium;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

#topbar .wrapper .mainMenu .left ul li a:hover {
  color: #f6513b;
}

#topbar .wrapper .mainMenu .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .wrapper .mainMenu .right a {
  text-decoration: none;
  color: rgba(18, 18, 18, 0.9);
  font-weight: 500;
  font-size: 1.6rem;
  font-family: lugfaMedium;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  display: block;
  margin-right: 4rem;
}

#topbar .wrapper .mainMenu .right a:hover {
  color: #f6513b;
}

#topbar .wrapper .mainMenu .right a.singUp {
  color: #f6513b;
  border: 0.2rem solid #f6513b;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  padding: 1.5rem 2.2rem;
  margin: 0;
  background-color: rgba(246, 81, 59, 0);
}

#topbar .wrapper .mainMenu .right a.singUp:hover {
  background-color: #f6513b;
  color: white;
}

#header {
  width: 100%;
  padding-left: 10%;
  margin-bottom: 10rem;
}

#header .wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47% auto;
      grid-template-columns: 47% auto;
      grid-template-areas: 'main img' 'brand img';
}

#header .wrapper .main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

#header .wrapper .main h1 {
  color: #121212;
  font-size: 6rem;
  font-family: lugfaBlod;
  margin-bottom: 2.8rem;
}

#header .wrapper .main h1 span {
  color: #f6513b;
}

#header .wrapper .main p {
  width: 87%;
  color: rgba(18, 18, 18, 0.8);
  font-size: 2rem;
  font-family: lugfaMedium;
  line-height: 1.8;
  margin-bottom: 4rem;
}

#header .wrapper .main .btnWrapper {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .wrapper .main .btnWrapper a {
  background-color: #f6513b;
  padding: 1.7rem 4rem;
  font-family: lugfaBlod;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .045em;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  margin-right: 4rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

#header .wrapper .main .btnWrapper a:hover {
  background-color: #da2f19;
}

#header .wrapper .main .btnWrapper .videoBtn {
  background-color: #f6513b;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#header .wrapper .main .btnWrapper .videoBtn img {
  width: 2rem;
  height: auto;
  display: block;
  margin-right: -.5rem;
  pointer-events: none;
}

#header .wrapper .main .btnWrapper .videoBtn:hover {
  background-color: #da2f19;
}

#header .wrapper .image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  padding-left: 3%;
}

#header .wrapper .image img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .wrapper .brand {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: brand;
  pointer-events: none;
}

#header .wrapper .brand img {
  width: 95%;
  height: auto;
}

#aboutUs .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aboutUs .wrapper .image {
  width: 40%;
  height: auto;
}

#aboutUs .wrapper .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#aboutUs .wrapper .mainContent {
  width: 50%;
}

#aboutUs .wrapper .mainContent p.heading {
  font-family: lugfaMedium;
  font-size: 2rem;
  color: #f6513b;
  margin-bottom: 1rem;
}

#aboutUs .wrapper .mainContent h2 {
  font-family: lugfaSemiBold;
  font-size: 5rem;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 1rem;
}

#aboutUs .wrapper .mainContent p {
  color: rgba(18, 18, 18, 0.8);
  font-size: 1.6rem;
  font-family: lugfaRegular;
  line-height: 1.8;
  margin-bottom: 2.8rem;
}

#aboutUs .wrapper .mainContent .projectCount {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 9rem;
}

#aboutUs .wrapper .mainContent .projectCount .line {
  height: 100%;
  width: 0.1rem;
  background-color: #121212;
}

#aboutUs .wrapper .mainContent .projectCount .single {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#aboutUs .wrapper .mainContent .projectCount .single p {
  margin-bottom: 0;
  font-family: lugfaMedium;
  font-size: 1.6rem;
  color: rgba(18, 18, 18, 0.8);
}

#aboutUs .wrapper .mainContent .projectCount .single h3 {
  font-family: lugfaBlod;
  font-size: 5rem;
  color: #f6513b;
}

#ourServices {
  margin-top: 10rem;
}

#ourServices p.heading {
  color: #f6513b;
  font-size: 2rem;
  font-family: lugfaMedium;
  margin-bottom: 1rem;
}

#ourServices h2 {
  max-width: 80rem;
  color: rgba(18, 18, 18, 0.9);
  font-size: 5rem;
  font-family: lugfaSemiBold;
  margin-bottom: 6.5rem;
}

#ourServices .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ourServices .wrapper .singleItem {
  margin-bottom: 7rem;
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ourServices .wrapper .singleItem .inner {
  max-width: 26.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ourServices .wrapper .singleItem .inner img {
  width: 6.4rem;
  margin-bottom: 1.6rem;
}

#ourServices .wrapper .singleItem .inner h3 {
  margin-bottom: 1.6rem;
  font-family: lugfaBlod;
  font-size: 1.8rem;
  color: rgba(18, 18, 18, 0.9);
}

#ourServices .wrapper .singleItem .inner p {
  font-family: lugfaRegular;
  font-size: 1.6rem;
  color: rgba(18, 18, 18, 0.8);
  line-height: 1.8;
}

#ourServices .wrapper .singleItem:nth-child(1),
#ourServices .wrapper .singleItem:nth-child(4) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#ourServices .wrapper .singleItem:nth-child(2),
#ourServices .wrapper .singleItem:nth-child(5) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ourServices .wrapper .singleItem:nth-child(3),
#ourServices .wrapper .singleItem:nth-child(6) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#ourWork {
  margin-bottom: 5rem;
}

#ourWork p.heading {
  font-family: lugfaMedium;
  font-size: 2rem;
  color: #f6513b;
  margin-bottom: 1.2rem;
  text-align: right;
}

#ourWork h2 {
  text-align: right;
  color: #202020;
  font-size: 4rem;
  font-family: lugfaBlod;
  margin-bottom: 6rem;
}

#ourWork .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ourWork .wrapper .singleItem {
  margin-bottom: 5rem;
  width: 31.5%;
  cursor: pointer;
}

#ourWork .wrapper .singleItem .image {
  width: 100%;
  height: 24rem;
  overflow: hidden;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  margin-bottom: 2.4rem;
}

#ourWork .wrapper .singleItem .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

#ourWork .wrapper .singleItem p {
  margin-bottom: 0.8rem;
  color: #f6513b;
  font-size: 1.6rem;
  font-family: lugfaBlod;
}

#ourWork .wrapper .singleItem h3 {
  font-size: 2.4rem;
  font-family: lugfaSemibold;
  color: rgba(18, 18, 18, 0.9);
}

#ourWork .wrapper .singleItem:hover .image img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#team {
  margin-bottom: 6rem;
}

#team p.heading {
  font-family: lugfaMedium;
  font-size: 2rem;
  color: #f6513b;
  margin-bottom: 1rem;
}

#team h2 {
  margin-bottom: 5rem;
  color: #000000;
  font-size: 5rem;
  font-family: lugfaMedium;
}

#team .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#team .wrapper .item {
  width: 24.7%;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  border: 0.1rem solid rgba(32, 32, 32, 0.08);
  padding: 2.4rem 1.6rem 2.2rem 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#team .wrapper .item .image {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  margin-bottom: 1.6rem;
}

#team .wrapper .item .image img {
  height: 100%;
  width: 100%;
}

#team .wrapper .item p.name {
  font-size: 2.4rem;
  font-family: lugfaBlod;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0.7rem;
}

#team .wrapper .item p.designation {
  font-size: 1.6rem;
  font-family: lugfaRegular;
  color: rgba(18, 18, 18, 0.4);
  margin-bottom: 1.6rem;
}

#team .wrapper .item p.desc {
  font-size: 1.6rem;
  font-family: lugfaRegular;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 1rem;
}

#team .wrapper .item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#team .wrapper .item .social a {
  display: block;
  margin-right: 1.2rem;
  text-decoration: none;
  width: 1.8rem;
  height: 1.8rem;
}

#team .wrapper .item .social a svg {
  width: 100%;
  height: 100%;
  fill: rgba(32, 32, 32, 0.4);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

#team .wrapper .item .social a.twitter:hover svg {
  fill: #00acee;
}

#team .wrapper .item .social a.facebook:hover svg {
  fill: #3b5998;
}

#testimonial {
  padding: 5rem 0;
  background-color: rgba(246, 81, 59, 0.05);
  position: relative;
}

#testimonial::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: calc((100% - 114rem) / 2);
  background-color: #fff6f5;
}

#testimonial::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: calc((100% - 114rem) / 2);
  background-color: #fff6f5;
  z-index: 999999;
}

#testimonial .topHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 9rem;
}

#testimonial .topHeader .inner p.header {
  font-family: lugfaMedium;
  font-size: 2rem;
  color: #f6513b;
  margin-bottom: 1.1rem;
}

#testimonial .topHeader .inner h2 {
  font-family: lugfaSemiBold;
  font-size: 5rem;
  color: rgba(18, 18, 18, 0.9);
}

#testimonial .sliderWrapper .slick-list {
  overflow: unset;
}

#testimonial .sliderWrapper .slick-dots {
  margin-top: 5.5rem;
}

#testimonial .sliderWrapper .slick-dots li {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1.3rem;
  width: 1.3rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#testimonial .sliderWrapper .slick-dots li button {
  display: none;
}

#testimonial .sliderWrapper .slick-dots li.slick-active {
  background-color: #f6513b;
}

#testimonial .sliderWrapper .slick-track .slick-slide.slick-active .singleSliderItemWrapper .singleSliderItem {
  -webkit-box-shadow: 0.5rem 3.5rem 100px rgba(89, 104, 118, 0.15);
          box-shadow: 0.5rem 3.5rem 100px rgba(89, 104, 118, 0.15);
}

#testimonial .sliderWrapper .singleSliderItemWrapper {
  padding: 1.5rem;
  padding-top: 3.2rem;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem {
  display: block;
  background-color: white;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  padding: 2.5rem 1.5rem;
  padding-top: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-box-shadow: 0.5rem 3.5rem 100px rgba(89, 104, 118, 0);
          box-shadow: 0.5rem 3.5rem 100px rgba(89, 104, 118, 0);
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .image {
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  margin: 0 auto;
  position: relative;
  top: -3.2rem;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem p.reviewText {
  font-size: 1.6rem;
  font-family: lugfaItalic;
  color: rgba(18, 18, 18, 0.7);
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .line {
  background-color: #d7d5d5;
  height: .1rem;
  margin-bottom: 1.8rem;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .left p.name {
  font-family: lugfaSemibold;
  font-size: 1.6rem;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 1rem;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .left p.designation {
  font-family: lugfaBlod;
  font-size: 1.2rem;
  color: rgba(18, 18, 18, 0.6);
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right svg {
  fill: rgba(112, 117, 143, 0.3);
  width: 2.2rem;
  height: 2.1rem;
  margin-left: 0.9rem;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-5 svg {
  fill: #faaf38;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-4 svg:nth-child(1),
#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-4 svg:nth-child(2),
#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-4 svg:nth-child(3),
#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-4 svg:nth-child(4) {
  fill: #faaf38;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-3 svg:nth-child(1),
#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-3 svg:nth-child(2),
#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-3 svg:nth-child(3) {
  fill: #faaf38;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-2 svg:nth-child(1),
#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-2 svg:nth-child(2) {
  fill: #faaf38;
}

#testimonial .sliderWrapper .singleSliderItemWrapper .singleSliderItem .bottom .right.star-1 svg:nth-child(1) {
  fill: #faaf38;
}

#pricing {
  padding-top: 5rem;
}

#pricing .headingWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 8rem;
}

#pricing .headingWrapper .headingInner p.heading {
  font-family: lugfaMedium;
  font-size: 2rem;
  color: #f6513b;
  margin-bottom: 1rem;
}

#pricing .headingWrapper .headingInner h2.heading {
  font-family: lugfaSemibold;
  font-size: 5rem;
  color: rgba(18, 18, 18, 0.9);
}

#pricing .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pricing .wrapper .item {
  width: 30.7%;
  padding: 4rem;
  border: 0.3rem solid rgba(32, 32, 32, 0.1);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  text-align: center;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pricing .wrapper .item:hover {
  border: 0.3rem solid #f6513b;
}

#pricing .wrapper .item .top p.packageName {
  color: rgba(18, 18, 18, 0.9);
  font-family: lugfaSemiBold;
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

#pricing .wrapper .item .top .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

#pricing .wrapper .item .top .price p.currency {
  font-size: 4.8rem;
  font-family: lugfaBlod;
  color: rgba(18, 18, 18, 0.9);
  margin-right: 2.3rem;
}

#pricing .wrapper .item .top .price p.deadline {
  color: rgba(18, 18, 18, 0.8);
  font-family: lugfaMedium;
  font-size: 1.8rem;
}

#pricing .wrapper .item .top .features {
  margin-bottom: 5.6rem;
}

#pricing .wrapper .item .top .features p {
  font-family: lugfaSemiBold;
  font-size: 1.8rem;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 1.8rem;
}

#pricing .wrapper .item .top .features p:last-child {
  margin-bottom: 0;
}

#pricing .wrapper .item .bottom a {
  text-decoration: none;
  background-color: #f6513b;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  display: block;
  font-family: lugfaSemiBold;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #ffffff;
  padding: 1.5rem;
}

#pricing .wrapper .item .bottom a:hover {
  background-color: #da2f19;
}
/*# sourceMappingURL=style.css.map */